<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <form>
      <label>shortened url:</label>
      <input type='text' value='<%= link %>' readonly>
    </form>
  </body>
</html>
