<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='css/main.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <title>Trim Links</title>
  </head>
  <body>
    <!-- trim logo should be here -->
    <!-- <header class="smallLogo"></header> -->
    <!-- shrinking link form should be here -->
    <div id='container'>
      <div id='innerContainer'>
        <img src='images/Logo.png' alt='Logo'></img>
        <div id='trimContainer'>
          <h1>Short any URL in less than a second.</h1>
          <p>Make it easier to send and embed links.</p>
          <div>
            <label class='tfLabel' for='original'>Link</label></br>
            <input class='textFields' id='original' type='text' placeholder='Type in or paste link here'
              onfocus="this.placeholder=''"
              onblur="this.placeholder='Type in or paste link here'"
              name='originURL'/>
            </br>
          </div>
          <!-- </br> -->
          <div class='changeStatus'>
            <label class='tfLabel' for='shortened'>Shortened URL</label></br>
            <input class='textFields' id='shortened' type='text' name='shortenedURL' disabled/></br>
          </div>
          <div class='buttonContainer'>
            <!-- <a id="button" href="/generate">Shorten URL</a> -->
            <button id='button' type='submit'>Shorten URL</button>
          </div>
        </div><!-- end of trimContainer -->
      </div><!-- end of innerContainer -->
    </div><!--end of container -->
    <!-- phone number, email, and copyright info here -->
    <footer>
      <span class='info'><a href=''>+1 424 829 3749</a></span>
      <span class='info'><a href=''>thisisatest@gmail.com</a></span>
      <span class='info'>&copy; The Testing Company. All Rights Reserved.</span>
    </footer>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='js/generateShort.js'></script>
  </body>
</html>
