@font-face{
  font-family: 'SF-UI-Display-Bold';
  src: url('../fonts/SF-UI-Display-Bold.otf');
}

@font-face{
  font-family: 'SF-UI-Display-Regular';
  src: url('../fonts/SF-UI-Display-Regular.otf');
}

header,footer,section{
  display: block;
}

html,body{
  /* height: 100%; */
}

body{
  font-family: 'SF-UI-Display-Regular';
  background: url('../../images/Background Image.png') no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: auto;
  background-position: center;
  background-size: cover;
}
/* containter style */
#innerContainer{
  margin-top: 40px;
  margin-left: 40px;
}

#trimContainer{
  background-color: #fff;
  margin-top: 100px;
  /* height: 350px; */
  width: 380px;
  /* text-align: center; */
  padding: 30px 25px 10px 25px;
  /* margin-left: 50px; */
  /* padding:30px; */
}

#trimContainer div{
  padding-bottom: 20px;
}

#trimContainer h1{
  font-family: 'SF-UI-Display-Bold';
}

#trimContainer p, #button{
  font-size: 22px;
}
/* end of container style */

/* textfield style */
.tfLabel{
  font-family: 'SF-UI-Display-Bold';
  font-size: 10px;
  line-height: 2.5;
}

.textFields{
  font-family: 'SF-UI-Display-Regular';
  caret-color: blue;
  line-height: .5;
  /* fixes textfield overlap of content */
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  width: 100%;
}

.textFields:focus{
  outline:none;
  border-bottom-color: blue;
}

.changeStatus{
  color: #c9c9c9;
}

.changeStatus input{
  border-bottom-color: #c9c9c9;
}

::placeholder{
  color: #c9c9c9;
}

.buttonContainer{
  display: block;
  text-align: center;
  color: blue;
  padding-top: 10px;
  /* margin: 0 auto; */
}

#button{
  background-color: #fff;
  color: blue;
  border: none;
}
/* end of textfield style */

/* footer style  */
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #fff;
}

.info{
  margin-left: 30px;
  margin-right: 30px;
  line-height: 60px;
  font-size: 12px;
}

.info:nth-child(3){
  float: right;
  font-size: 14px;
}

.info a{
  color: #fff !important;
}
/* end of footer style */
/*
@media only screen and (min-width: 1024px) and (max-width: 1280px) { }

@media only screen and (min-width: 768px) and (max-width: 1024px) { }

@media only screen (min-width: 480px) and (max-width: 768px) { }

@media only screen and (max-width: 480px) { } */
